@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --dark-text: #131313;
  --light-text: #727272;
  --primary-color: #ff900e;
}

.btn-primary {
  padding: 15px 25px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: transparent;
  outline: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}
.description {
  color: var(--light-text);
  padding: 20px 0px;
}
main {
  max-width: 80vw;
  margin: 0 auto;
}
/* shared style end */

/* header style start */
header {
  background: rgba(255, 144, 14, 0.1);
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--light-text);
}

nav ul li {
  list-style: none;
}

.logo {
  font-size: 2rem;
  color: var(--dark-text);
}

.banner-content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.banner-img-container {
  width: 80vw;
  margin: 0px auto;
  padding: 20px;
}

.banner-img-container img {
  width: 100%;
  border-radius: 8px;
}
/* header style end */

/* team section style start */
.team-container {
  margin-top: 50px;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.team-img-container,
.team-content {
  flex: 1;
}

.team-img-container img {
  width: 100%;
  border-radius: 8px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.team-title-1 {
  color: var(--light-text);
  font-weight: 500;
}

.team-title-2 {
  color: var(--primary-color);
}
/* team section style end */

/* features style start */
.features-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.features-container img {
  width: 100%;
}

.features-content,
.features-img {
  flex: 1;
  position: relative;
}

.features-title {
  opacity: 0.8;
  border-left: 5px solid var(--primary-color);
  padding-left: 20px;
}

.cart {
  margin-bottom: 10px;
  padding: 20px 15px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.cart h3 {
  opacity: 0.8;
}
.card-description {
  color: var(--light-text);
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.img-text {
  color: #f3f3f3;
  text-align: center;
  background-color: var(--primary-color);
  width: fit-content;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  bottom: 50px;
  left: -57px;
}
/* features style end */

/* start code for responsive */
@media screen and (max-width: 576px) {
  nav,
  .features-container {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
  }
  .team-container {
    flex-direction: column-reverse;
  }
  .img-text {
    bottom: 50px;
    left: 0;
    margin: 0 auto;
  }
}
/* start code for end */
